@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}
.dashboard-container{
    width: 2118px;
    height: 100vh;
    margin: 0 auto;
}
.header {
    padding: 10px;
    background-color: #FFF6E9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 35px;
    color: #DFA128;
}
.header .user-info {
    display: flex;
    align-items: center;
    padding-right: 40px;
}
.header .user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-right: 40px;
}
.header .user-info span {
    font-size: 16px;
    font-weight: 500;
}
.devider{
    border: 3px solid #DFA128;
}
.sidebar {
    width: 300px;
    background-color: #fff;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
}
.sidebar a {
    display: block;
    padding: 15px 20px;
    color: #949CA9;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    border-left: 5px solid transparent;
    border-radius: 6px;
}
.sidebar a:hover{
    background-color: #f0f0f0;
    border-left: 5px solid #DFA128;
    color: #949CA9;
}
.sidebar a.active {
    background-color: #DFA128;
    color: #fff;
}
.sidebar a i {
    margin-right: 10px;
}
.main-container__content{
    display: flex;
    flex-direction: row;
    background-color: #FFF6E9;
}
.main-content {
    padding-left: 10px;
    margin-right: 30px;
}
.welcome-banner {
    /* background-image: url('/public/img/backgroundBanner.svg'); */
    background-color: #E0C287;
    width: 1413px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 40px 0 20px 10px;
    font-weight: 700;
    color: #3D3D3D;
}
.welcome-banner img {
    width: 300px;
    height: auto;
}
.welcome-banner h1 {
    font-size: 24px;
    margin-left: 3rem;
}
.welcome-banner p {
    margin-left: 3rem;
    font-size: 16px;
}
.stats {
    width: 1413px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 50px;
}
.stat-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    flex: 1;
    margin: 0 10px;
}
.stat-card i {
    font-size: 24px;
    margin-bottom: 10px;
}
.stat-card h2 {
    font-size: 24px;
    margin: 0;
}
.stat-card p {
    margin: 5px 0 0;
    color: #888;
}
.stat-card.highlight {
    border: 2px solid #007bff;
}

.calendar-container,.schedule-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.calendar-container{
    width: 370px;
    height: 350px;
    margin-right: 30px;
    margin-top: 20px;
}
.schedule-container{
    width: 370px;
    height: 550px;
    margin-right: 30px;
}
.day {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 14px;
    color: #949CA9;
}
.day-schedule{
    width: 47px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #949CA9;
}
.day.selected {
    background-color: #DFA128;
    color: #FFF;
    border-radius: 10px;
}
.day-schedule.selected{
    background-color: #DFA128;
    color: #FFF;
    border-radius: 10px;
}
.day.today {
    border: 2px solid #DFA128;
}
.event {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: white;
}
.event.blue {
    background-color: #3b82f6;
}
.event.red {
    background-color: #ef4444;
}
.event.green {
    background-color: #10b981;
}
.event.gray {
    background-color: #6b7280;
}